<head>
    <meta charset="UTF-8">
    <title>Ruthless Jupiter Lads</title>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>🌑Ruthless Jupiter Lads</h1>
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>

{{{body}}}
<script src="/js/logout.js"></script>
</body>

<footer>{{{footer}}}</footer>

</html>