<h2> How many can you best in battle? </h2>
<footer>
    <h3>
        'SPACEBAR to perform jump/action'
        <br>
        'LEFT and RIGHT arrow keys to move'
    </h3>
</footer>
<script src="https://unpkg.com/kaboom@next/dist/kaboom.js"></script>
<script src="/js/game.js"></script>