<h2>High scores</h2>
<table class="table table-scores">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Fights Won</th>
                </tr>
            </thead>

            <tbody>

            <tr><td>
            </tbody>
        </table>
        
        <div class="button_cont">
            <a id="play-again" class="button" href="/game">
            Play again</a> 
        </div>
<script src="/js/highscore.js"></script>