<h2>Hello Space Adventurer!</h2>
<h3>Are you ready to embark on your journey?</h3>
<a href='/login' class="btn" id="login">login</a>
<a href='/game' class="btn" id="startBtn">start</a>
<a href='/register' class="btn" id="register">Registration</a>
